src/data_simulator
data/MNIST
venv
src/wandb
src/__pycache__
src/utils/__pycache__
notebooks/__pycache__
wandb
results/wandb
# Pyc files
*.pyc
# all pycache folders 
__pycache__/
*.dill

# ignore .sh files, jobscripts
*.sh